<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>historia</title>

</head>

<body>

    <header class="bg-gradient-to-r from-sky-500 via-[#71b1e6] to-sky-500">
        <nav class="flex items-center justify-between p-4">
            <div class="flex items-center">
                <a href="#" class="text-white text-xl font-bold">Naciones Unidas 20955-2</a>
            </div>

            <div class="md:hidden">
                <button id="mobile-menu-button" class="text-white focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>

            <div class="hidden md:flex space-x-4">
                <a href="./inicio.html" class="text-white">Inicio</a>
                <a href="./historia.html" class="text-white">Historia</a>
                <a href="./areas.html" class="text-white">Áreas</a>
                
            </div>
        </nav>

        <div id="mobile-menu" class="hidden md:hidden">
            <a href="./inicio.html" class="block py-2 px-4 text-white">Inicio</a>
            <a href="./historia.html" class="block py-2 px-4 text-white">Historia</a>
            <a href="./areas.html" class="block py-2 px-4 text-white">Áreas</a>
        </div>
    </header>



    <!-- component -->
    <div class=" container  mx-auto w-full h-full">
        <div class="mx-auto text-center ">
            <h1 class="font-bold text-xl text-gray-600 py-5">"Forjando Sueños, Construyendo Futuros: Trayectoria
                Inspiradora de la Institución Educativa N.º 20955 – 2 'Naciones Unidas'"</h1>
        </div>

        <div class="relative wrap overflow-hidden p-10 h-full">
            <div class="raya border border-4-4 absolute border-opacity-1 border-yellow-500 h-full " style="left: 50%">
            </div>
            <!-- right timeline 1-->
            <div class="  mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12 "></div>
                <div class="hidden sm:flex z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full ">
                    <h1 class="mx-auto font-semibold text-lg text-white ">1991</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12  px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl"> Fundación Pionera</h3>
                    <p class="text-lg font-medium leading-snug tracking-wide text-gray-900 text-opacity-100">Un modesto
                        comienzo
                        marca el nacimiento de la Institución Educativa N.º 20955 – 2 "Naciones Unidas" como una escuela
                        unidocente destinada a la formación de estudiantes de nivel primaria. La visión de Calistro
                        Asencio Orozco y la dedicación del docente Licenciado Ricardo Félix Asencio dan vida a esta
                        institución.</p>
                </div>
            </div>

            <!-- left timeline 2-->
            <div class="  mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex  z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto text-white font-semibold text-lg">1992</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12  px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl">Primeros Cimientos</h3>
                    <p class="text-lg font-medium leading-snug tracking-wide text-gray-900 text-opacity-100">En un paso
                        significativo hacia el crecimiento, se erigen dos aulas de material rústico, marcando la
                        transición a una escuela multigrado que busca ofrecer más oportunidades educativas.</p>
                </div>
            </div>

            <!-- right timeline 3-->
            <div class="  mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">1993</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12  px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl">Expansión y Desafíos</h3>
                    <p class="text-lg leading-snug tracking-wide text-gray-900 text-opacity-100">El crecimiento de la
                        población estudiantil, impulsado por la expansión urbana, lleva a la necesidad de más espacios y
                        personal docente. La institución se transforma en polidocente de nivel primaria con la
                        construcción de cuatro aulas de material rústico.</p>
                </div>
            </div>

            <!-- left timeline 4-->
            <div class=" mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex  z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto text-white font-semibold text-lg">1995</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl   w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12     px-6 py-4">
                    <h3 class="mb-3 font-bold   text-xl"> Nueva Etapa Secundaria</h3>
                    <p class="text-lg leading-snug tracking-wide text-gray-900 text-opacity-100">Se inaugura un
                        nuevo capítulo con la creación del nivel secundaria. Bajo la dirección del profesor Modesto
                        Huamanyauri Ángeles, la institución se adapta a las demandas cambiantes de la comunidad.</p>
                </div>
            </div>


            <!-- right timeline 5(1997)-->
            <div class="  mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">1997</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12  px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl">Educación Integral</h3>
                    <p class="text-lg leading-snug tracking-wide text-gray-900 text-opacity-100">Con una visión integral
                        de la educación, se establece el Nivel Inicial, logrando la construcción de cuatro aulas de
                        material noble gracias a la colaboración de FONCODES. La música y el mobiliario escolar
                        enriquecen aún más el entorno educativo.</p>
                </div>
            </div>

            <!-- left timeline 6(1999)-->
            <div class=" mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex  z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto text-white font-semibold text-lg">1999</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl   w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12     px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl">Logros y Graduaciones</h3>
                    <p class="text-lg leading-snug tracking-wide text-gray-900 text-opacity-100">Un hito emocional se
                        alcanza con la graduación de la primera promoción del nivel secundaria, subrayando el impacto
                        duradero de la institución en las vidas de los estudiantes</p>
                </div>
            </div>

            <!-- right timeline 7(2000)-->
            <div class=" mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">2000</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12  px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl"> Expansión Tecnológica</h3>
                    <p class="text-lg leading-snug tracking-wide text-gray-900 text-opacity-100">La dirección del
                        Licenciado Tito Chavarría Mora ve un período de expansión física, con la construcción de aulas
                        de material noble y módulos provisionales. La tecnología llega a las aulas con la adquisición de
                        computadoras y mobiliario escolar.</p>
                </div>
            </div>

            <!-- left timeline 8(2003)-->
            <div class=" mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex  z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto text-white font-semibold text-lg">2003</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl   w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12     px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl">Innovación y Talleres Especializados</h3>
                    <p class="text-lg leading-snug tracking-wide text-gray-900 text-opacity-100">Bajo la guía del
                        Director Tito Chavarría Mora, se construye un pabellón de tres pisos, con el primer piso
                        destinado al laboratorio de Ciencias. Talleres de metálicas, industria del vestido e industrias
                        alimentarias ofrecen opciones enriquecedoras a los estudiantes.</p>
                </div>
            </div>

            <!-- right timeline 9(2014)-->
            <div class=" mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">2014</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12  px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl">Continuidad en el Crecimiento</h3>
                    <p class="text-lg leading-snug tracking-wide text-gray-900 text-opacity-100">La tradición de
                        crecimiento continúa con la construcción de más aulas y espacios dedicados a la educación
                        física, reafirmando el compromiso con la excelencia educativa.</p>
                </div>
            </div>

            <!-- left timeline 10( 2015)-->
            <div class=" mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex  z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto text-white font-semibold text-lg">2015</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl   w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12     px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl">Renovación y Desarrollo</h3>
                    <p class="text-lg leading-snug tracking-wide text-gray-900 text-opacity-100">El cambio de liderazgo
                        a cargo del Licenciado Lindley Agustín Navarro Valencia marca un período de innovación. Un nuevo
                        pabellón de seis aulas y mejoras generales en la infraestructura subrayan el compromiso continuo
                        con el desarrollo.</p>
                </div>
            </div>

            <!-- right timeline 11(2020 )-->
            <div class=" mb-8 flex justify-between items-center w-full right-timeline">
                <div class="order-1 w-5/12"></div>
                <div class="hidden sm:flex z-20  items-center order-1 bg-blue-600 shadow-xl w-14 h-14 rounded-full">
                    <h1 class="mx-auto font-semibold text-lg text-white">2020</h1>
                </div>
                <div
                    class="order-1 bg-yellow-500 rounded-lg shadow-xl w-12/12  sm:w-5/12 md:w-5/12 lg:w-5/12  xl:w-5/12  px-6 py-4">
                    <h3 class="mb-3 font-bold  text-xl">Resiliencia y Expansión</h3>
                    <p class="text-lg leading-snug tracking-wide text-gray-900 text-opacity-100">A pesar de los
                        desafíos, se logra un aumento en la plaza de subdirección del nivel inicial, simbolizando un
                        enfoque constante en el crecimiento y desarrollo equitativo.</p>
                </div>
            </div>

        </div>
    </div>

</body>

</html>