<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="../style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Inicio</title>
</head>

<body>

    <header class="bg-gradient-to-r from-sky-500 via-[#71b1e6] to-sky-500">
        <nav class="flex items-center justify-between p-4">
            <div class="flex items-center">
                <a href="./inicio.html" class="text-white text-xl font-bold">Naciones Unidas 20955-2</a>
            </div>

            <div class="md:hidden">
                <button id="mobile-menu-button" class="text-white focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>

            <div class="hidden md:flex space-x-4">

                <a href="./historia.html" class="text-white">Historia</a>
                <a href="./areas.html" class="text-white">Áreas</a>

            </div>
        </nav>

        <div id="mobile-menu" class="hidden md:hidden">

            <a href="./historia.html" class="block py-2 px-4 text-white">Historia</a>
            <a href="./areas.html" class="block py-2 px-4 text-white">Áreas</a>
        </div>
    </header>



    <!-- component -->
    <!-- component -->
    <div class="container mx-auto p-8 flex flex-col md:flex-row">
        <div class="w-full md:w-2/3 mb-4 md:mb-0 ">
            <video class="w-full h-auto md:w-4/5 md:h-auto" autoplay muted loop>
                <source src="../videos/naciones1.mp4" type="video/mp4">
                Tu navegador no soporta el elemento de video.
            </video>
        </div>
        <div class="w-full md:w-1/3 md:ml-4 mr-10">
            <div class="text-center md:text-left">
                <h2 class="text-2xl font-semibold mb-4">NUESTRO COLEGIO</h2>
                <p class="mb-4">¡Todos somos Naciones Unidas! En esta gran comunidad, todos somos importantes y
                    trabajamos unidos porque sabemos que juntos logramos mucho más. Nuestros profesores, alumnos,
                    consagradas, sacerdotes, administrativos, ex alumnos: ¡TODOS SOMOS Naciones Unidas!</p>
            </div>
        </div>
    </div>


    <div class="flex h-20 items-center justify-center font-bold text-white   bg-gradient-to-r from-sky-500 via-[#71b1e6] to-sky-500 ">
        <div class=" text-center space-y-12">
            <div class="text-center text-3xl font-bold">

                <h3>Actividades realizadas</h3>
            </div>
        </div>
    </div>
    <!-- ------------------------------------------------------------ -->




    <div class="flex bg-gradient-to-r from-gray-100 via-[#bce1ff] to-gray-100">
        <!-- component -->
        <div class="container mx-auto p-4">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/baile.jpg" alt="" />
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/IMG_20231008_092019.jpg" alt="" />
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/banda.jpg" alt="" />
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/ecosistema.jpg" alt="" />
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/gimnasi_h.jpg" alt="" />
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/vertical1.jpg" alt="" />
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/logro_h.jpg" alt="" />
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/caramelos_h.jpg" alt="" />
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/diablada.jpg" alt="" />
                    </div>
                </div>
                <div class="grid gap-4">
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/danza_h.jpg" alt="" />
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/capa_h.jpg" alt="" />
                    </div>
                    <div>
                        <img class="h-auto max-w-full rounded-lg" src="../fotos/profe_h.jpg" alt="" />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="flex h-3/4 items-center justify-center font-bold text-white bg-gradient-to-r from-sky-500 via-[#71b1e6] to-sky-500">
        <div class=" text-center space-y-12">
            <div class="text-center text-5xl font-bold">
                Curso de
                <div class="relative inline-grid grid-cols-1 grid-rows-1 gap-12 overflow-hidden">
                    <span class="animate-word col-span-full row-span-full"></span>
                    <span class="animate-word-delay-1 col-span-full row-span-full">Matemáticas</span>
                    <span class="animate-word-delay-2 col-span-full row-span-full">Arte-Cultura</span>
                    <span class="animate-word-delay-3 col-span-full row-span-full">Personal Social</span>
                    <span class="animate-word-delay-4 col-span-full row-span-full">Educación Física</span>
                    <span class="animate-word-delay-5 col-span-full row-span-full">Comunicación</span>

                </div>
            </div>
            <p class=" text-white">
                <a class="underline" href="./areas.html">Ver más áreas</a>
            </p>
        </div>
    </div>


    <!-- component -->
    <div class="bg-gradient-to-r mt-5 from-gray-100 via-[#bce1ff] to-gray-100">
        <div
            class="px-4 bg-white mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 ">
            <div class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row">
                <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
                    <div class="max-w-xl mb-6">
                        <h2
                            class="font-sans text-3xl sm:mt-0 mt-6 font-medium tracking-tight text-black sm:text-4xl sm:leading-none max-w-lg mb-6">
                            Los Primeros Pasos Hacia el Conocimiento

                        </h2>
                        <p class="text-black text-base md:text-lg">En el grado inicial, nuestros pequeños exploradores
                            empiezan a descubrir el fascinante mundo del aprendizaje. Cada día es una aventura llena de
                            descubrimientos, curiosidad y crecimiento. Aquí, cultivamos las semillas del amor por el
                            aprendizaje, fomentando la creatividad y la expresión individual. En el Colegio Naciones
                            Unidas 20955-2, creemos que un comienzo sólido sienta las bases para un viaje educativo
                            exitoso.
                        </p>
                    </div>
                </div>
                <img alt="logo" width="420" height="120" src="../fotos/PROFESORAYESSICA.png" />
            </div>
        </div>


        <div
            class="px-4 bg-white mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 ">
            <div class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row">

                <img alt="logo" width="420" height="120" src="../fotos/isabel.png" />


                <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">

                    <div class="max-w-xl mb-6">

                        <h2
                            class="font-sans text-3xl sm:mt-0 mt-6 font-medium tracking-tight text-black sm:text-4xl sm:leading-none max-w-lg mb-6">
                            Cimentando Conocimientos, Forjando Caracteres
                        </h2>
                        <p class="text-black text-base md:text-lg">
                            La primaria es el momento crucial donde las habilidades fundamentales se afianzan, y los
                            niños comienzan a comprender el valor del esfuerzo y la persistencia. En este período,
                            nutrimos no solo las habilidades académicas, sino también los valores éticos y sociales. En
                            el Colegio Naciones Unidas 20955-2, nuestros estudiantes primarios desarrollan la confianza
                            en sí mismos, la empatía y la capacidad de trabajar en equipo, preparándose para enfrentar
                            los desafíos del mañana.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div
            class="px-4 bg-white mb-8 py-8 rounded-3xl mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 ">
            <div class="flex flex-col items-center justify-between w-full mb-10 lg:flex-row">
                <div class="mb-16 lg:mb-0 lg:max-w-lg lg:pr-5">
                    <div class="max-w-xl mb-6">

                        <h2
                            class="font-sans text-3xl sm:mt-0 mt-6 font-medium tracking-tight text-black sm:text-4xl sm:leading-none max-w-lg mb-6">
                            Preparándose para el Éxito Global
                        </h2>
                        <p class="text-black text-base md:text-lg">La secundaria es la etapa donde los estudiantes se
                            sumergen en un currículo más avanzado y desafiante. Aquí, en el Colegio Naciones Unidas
                            20955-2, no solo proporcionamos conocimientos profundos, sino también habilidades esenciales
                            para la vida. Fomentamos el pensamiento crítico, la independencia y la responsabilidad.
                            Nuestros estudiantes de secundaria se preparan no solo para los exámenes académicos, sino
                            para los desafíos del mundo real, equipados con las herramientas necesarias para enfrentar
                            un futuro global.F
                        </p>
                    </div>
                </div>
                <img alt="logo" width="420" height="120" src="../fotos/adrian.png" />
            </div>
        </div>
    </div>







    <!-- component -->
    <footer class="bg-gradient-to-r from-gray-100 via-[#bce1ff] to-gray-100">
        <div class="max-w-screen-xl px-4 py-16 mx-auto sm:px-6 lg:px-8">
            <div class="grid grid-cols-1 gap-8 lg:grid-cols-3">
                <div>
                    <img src="../fotos/Captura.PNG" class="mr-5 h-20 sm:h-20" alt="logo" />
                    <p class="max-w-xs mt-4 text-sm text-gray-600">
                        En el Colegio Naciones Unidas, cada día escribimos juntos la historia de un aprendizaje global,
                        donde la diversidad nos une y el conocimiento construye puentes hacia un futuro lleno de
                        posibilidades
                    </p>
                    <div class="flex mt-8 space-x-6 text-gray-600">
                        <a class="hover:opacity-75" href="https://www.facebook.com/naciones20955/?locale=es_LA"
                            target="_blank" rel="noreferrer">
                            <span class="sr-only"> Facebook </span>
                            <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fillRule="evenodd"
                                    d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                    clipRule="evenodd" />
                            </svg>
                        </a>


                    </div>
                </div>
                <div class="grid grid-cols-1 gap-8 lg:col-span-2 sm:grid-cols-2 lg:grid-cols-4">
                    <div>
                        <p class="font-medium">
                            Acerca del Colegio
                        </p>
                        <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-500">
                            <span> Somos una institución dedicada a brindar educación de calidad para el desarrollo
                                integral de nuestros estudiantes.</span>
                            <span> Conoce más sobre nuestra historia, nuestro equipo y nuestra visión educativa.</span>
                        </nav>
                    </div>
                    <div>
                        <p class="font-medium">
                            Nuestros Servicios
                        </p>
                        <nav class="flex flex-col mt-4 space-y-2 text-sm text-gray-500">
                            <span> Ofrecemos servicios educativos que incluyen coaching individual, revisión
                                institucional, consultoría de recursos humanos y más.</span>
                            <span> Descubre cómo nuestros programas están diseñados para el éxito académico y personal
                                de cada estudiante.</span>
                        </nav>
                    </div>

                    <div>
                        <p class="font-medium mb-2">
                            Ubicación
                        </p>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4924.636058893746!2d-76.91042384330918!3d-11.981600390039306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c3332c06583d%3A0xa3dc06fe15dba3c2!2sIEP%20Naciones%20Unidas%2020955-2!5e0!3m2!1ses-419!2spe!4v1702356576300!5m2!1ses-419!2spe"
                            ></iframe>
                    </div>


                </div>



            </div>
            <p class="mt-8 text-xs text-gray-800">
                2023 Naciones Unidas
            </p>
        </div>
    </footer>

    <!-- component -->
    <link href="https://fonts.googleapis.com/css?family=Mitr|Roboto+Slab|Source+Sans+Pro&display=swap" rel="stylesheet">
    <script
        src="https://premium-tailwindcomponents.netlify.app/assets/build/js/main.js?id=8c11b7cf78ebea1b5aed"></script>

    <script>
        // Toggle mobile menu visibility
        const mobileMenuButton = document.getElementById('mobile-menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        mobileMenuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>

</body>

</html>